{
  "env": {
    "development": {
      "sourceMaps": "inline",
      "plugins": ["source-map-support"]
    }
  },
  "env": {
    "production": {
      "sourceMaps": "inline"
    }
  },
  "presets": [
    ["env", {
      "targets": {
          "node": "6.0"
      }
    }]
  ],
  "plugins": ["add-module-exports"]
}
